
  
   <div class='panel-heading'>
    <span>Search First Name contains:</span><input type="text" ng-model="searchText" />
    <input type="button" value="search" ng-click="search()" ng-disabled= "searchText ==''" />&nbsp;&nbsp;
    <a href="/Home">Go Home</a>
    </div>

    <div class='panel-heading'>Contact Managemnt Util</div>

    <div>

        <table class='table' *ngIf='contacts'>
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Birth Date</th>
                    <th>Profile picture</th>
                    <th>List of groups</th>
                    <th>Comments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--<tr ng-repeat="contact in contacts">-->
                <tr ng-repeat="contact in contacts.slice(((currentPage-1)*5), ((currentPage)*5))">
                    <td>{{ contact.firstName }}</td>
                    <td>{{ contact.lastName }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phone}}</td>
                    <td>{{ contact.birthDate}}</td>
                    <td>
                        <img [src]='contact.profilePictureUrl'
                             [title]='contact.firstName' />

                    </td>
                    <td>
                       

                        <span ng-if="contact.isFamily">Family </span>                       

                        <span ng-if="contact.isFriend">Friend </span>

                        <span ng-if="contact.Colleague">Colleague </span>

                        <span ng-if="contact.isAssociate">Associate</span>
                    </td>
                    <td>
                        {{ contact.comments}}
                    </td>
                    <td>
                        <img src="/app/ContactForm/images/pencil.png" title="edit contact" ng-click="editContactForm(contact.id)">
                        <img src="/app/ContactForm/images/del2.png" title="delete contact" ng-click="deleteContact(contact.id)">
                    </td>
                </tr>
            </tbody>
        </table>

        <ul uib-pagination total-items="totalItems" items-per-page=5 ng-model="currentPage" ng-change="pageChanged()"></ul>

        <img src="/app/ContactForm/images/add.png" title="add contact999" style="float:right; padding-right:30px;"
             ng-click="addContactForm()">
    </div>



